.thumbnail {
  width: 90px;
  height: 90px;
}

.comment {
  width: 100%;
}

.new_message {
  width: 100%;
}

.tile {
  display: inline-flex;
  width: 100%;
}

.header {
  display: inline-block;
  width: 100%;
}

.date {
  float: right;
}

.panel.panel-default {
  width: 100%;
}